@charset "utf-8";
body {
	font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.show{
	
	cursor:pointer;
	width:16px;
	height:16px;
}
#cerceve{
	margin:150px auto 0 auto;
	width:400px;
	height:300px;
}
.header{
	
	height:43px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	line-height:40px;
	/*padding-left:20px;*/
	text-align:center;
	font-weight:bold;
}

.header_image
{
    text-align:center;
}
.formbody{
	width:400px;
	height:240px;
	
}

.footer_sign, .footer_sign a
{
    color: #a9a9bc;
}

.footer_sign
{
    float:right;
}

.text, .Login_text{
	width:358px;
	height:52px;
	margin:20px 0 0 22px;
	outline:none;
	font-weight:bold;
	padding-left:20px;
	border:0;
	color:#a9a9bc;
}

.Login_text
{
    margin:0;
    height: 30px;
    font-size: 20px;
}
.submit{
	width:100px;
	height:40px;
	margin:20px 20px 0 22px !important;
	
	font-weight:bold;
	text-shadow:1px 1px rgba(53,16,56,0.5);
	color:#fff;
	cursor:pointer;
	border:0;
}
a{
	text-decoration:none;
	color:#a9a9bc;
	font-size:14px;
	font-weight:bold;
	
}


#Message
{
   width: 358px;
height: 52px;
margin: 20px 0 0 22px;
outline: none;
font-weight: bold;
padding-left: 20px;
border: 0;
color: rgb(192, 21, 21);
}