.NewsPanel_Main{width:100%; }
#NewsPanel_newsTabs {text-align: right; background-color:#eff0f4;}
#NewsPanel_newsTabs a
{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #dbdbdb #dbdbdb #000064 #dbdbdb;
	display: inline-block;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 0px;
	width: 150px;
	text-align: center;
	color: #333;
	z-index:1;
	
}
#NewsPanel_newsTabs .NewsPanel_empty_news
{
	border-color: #000064;
	border-width: 0px 0px 2px 0px;
	display: inline-block;
	padding: 4px;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	margin-right: -2px;
	text-align: center;
	color: #333;
	z-index: -1000;
	border-bottom-style: solid;
	text-align: left;
	font-size:14px;
	font-weight:bold;
}
#NewsPanel_newsTabs a.sel
{
	border-bottom: 2px solid #FFFFFF;
	border-top-color: #000064;
	border-right-color: #000064;
	border-left-color: #000064;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	background-color:#FFFFFF;
	z-index:10;
	
}
#NewsPanel_tabPnl
{
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	padding: 8px 12px 8px 12px;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.NewsPanel_ImgContainer img
{
	
position: relative;
float: left;
margin-right: 10px;
z-index:1;
width:160px;
height:120px;
}

.NewsPanel_ImgContainer div
{
position: absolute;
float: left;
margin-right: 10px;
background: black;
width: 160px;
opacity: 0.7;
font-size: 12px;
color: white;
font-weight: bold;
margin-top: 105px;
overflow: hidden;
height: 15px;
text-overflow: ellipsis;
white-space: nowrap;
z-index:2;
display:block;
left:0;
}



#NewsPanel_tabPnl li
{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.NewsPanel_ImgContainer
{
  position:relative;
	  float:left;
	  clear:none;
	  overflow:hidden;
}

#NewsPanel_tabPnl li a:hover
{
	color:#000064;
	text-decoration: underline;
}